body{
    text-align: center;
}
*{ font-family: "Lucida Grande";}
  .progress-bar-holder{
    #width: 800px;
    border: 1px solid #ccc;
    padding: 0.2em;
    margin: 1em 0.2em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .progress-bar{
    height: 30px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #337A71;
    width: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }